<p>Justin, you've commented on <%= @user.name %>!</p>
<p><%= @user.GoodOrBad %><p>

<p>---------------------------------------------</p>
<p>--[DEBUG] @good.class is <%= @good.class %>--</p>
<p>---------------------------------------------</p>