<p>OK, you've made some comment, dear <%= current_user %>!</p>

<p>-----------------------------------------------------------</p>
<p>--[DEBUG] @micropost.upvotes is <%= @micropost.upvotes %>--</p>
<p>-----------------------------------------------------------</p>